{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "react-app",
    "react-app/jest",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "max-len": ["error", 80],
    "no-alert": "off",
    "no-console": "off",
    "no-debugger": "off",
    "no-param-reassign": "off",
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@", "./src"]]
      }
    }
  }
}
